*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Poppins';
    src : url(../font/Poppins-Regular.ttf);
 }
body{
    
    background: linear-gradient(242.08deg, #52BEDB 2.59%, rgba(66, 191, 225, 0.79375) 26.01%, #47CCDB 59.83%, #6E9CDA 107.14%);
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding-bottom: 200px;

}
@media only screen and (max-width:768px) {
    #res{left:1% !important;}
    .img2{margin-left:-30px !important;}
}
.cont1{
    margin-top:100px;
    width:1103px;
    height:666px;
    background: #FFFFFF;
    padding-left: 0;

}
.cont2{
   
    position: relative;
    
}
.text{
    position: absolute;
    top:5%; 
    left: 10%;}
.text >a{
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}
.tetx2{
    position: absolute;
    top:23%; 
    left:3%;
}
.cont3{
    margin-left: 10%;
}
h3 {
font-family: 'Poppins';
font-size: 28px;
font-weight: 600;
line-height: 42px;
letter-spacing: 0em;
text-align: left;

}
label {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
#name {
    border:none;
    border-bottom: 1px solid #C3B7B7;
    outline: none;
    

}
#card {
    border:none;
    border-bottom: 1px solid #C3B7B7;
    outline: none;

}
#date {
    border:none;
    border-bottom: 1px solid #C3B7B7;
    outline: none;

}
#cvv {
    border:none;
    border-bottom: 1px solid #C3B7B7;
    outline: none;

}
.sameadr{
font-family: 'Poppins';
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

}
#res{
    background: #0369BB;
    color:#FFFFFF;
    font-family:'Poppins';
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
position: absolute;
top:111%;
left:53%;


}
